<div class='mt-4'>
    <h2>Chỉnh sửa khóa học khóa học</h2>
    <form method='post' action='/courses/{{course._id}}?_method=PUT'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input
                type='text'
                class='form-control'
                id='name'
                placeholder='Enter name'
                name='name'
                value='{{course.name}}'
            />
            <label for='description'>Description</label>
            <input
                type='text'
                class='form-control'
                id='description'
                placeholder='Enter description'
                name='description'
                value='{{course.description}}'
            />
            <label for='videoid'>Video Id</label>
            <input
                type='text'
                class='form-control'
                id='videoid'
                placeholder='Enter videoid'
                name='videoId'
                value='{{course.videoId}}'
            />
            <label for='level'>Level</label>
            <input
                type='text'
                class='form-control'
                id='level'
                placeholder='Enter level'
                name='level'
                value='{{course.level}}'
            />

        </div>

        <button type='submit' class='btn btn-primary'>Sửa khóa học</button>
    </form>
</div>