<div class='container'>
    <div class='add-course'>
        <div class='left-sidebar col-2'>
            <ul>
                <li class='sidebar-active'><a href='/courses/create'>Post Course</a></li>
                <li><a href='/me/stored/courses'>All Courses</a></li>
                <li><a href='/me/stored/grammars'>Grammar</a></li>
            </ul>
        </div>
        <div class='main-content col-9'>
            <div class=''>
                <div class='mt-4'>
                    <div class='header-title'>
                        <h2>Add lesson</h2>
                        <a
                            href='/me/stored/lessons/{{course._id}}'
                            class='btn btn-danger'
                            role='button'
                            aria-pressed='true'
                        >Back</a>
                    </div>

                    <form
                        method='post'
                        action='/lessons/store/{{course._id}}'
                        enctype='multipart/form-data'
                    >
                        <div class='form-group'>

                            <label for='name'>Name</label>
                            <input
                                type='text'
                                class='form-control col-12 form-add-course'
                                id='name'
                                placeholder='Enter name'
                                name='name'
                                value='{{oldInput.name}}'
                            />
                            <label for='transcription'>Transcription</label>
                            <textarea
                                class='form-control col-12 form-add-course'
                                iD='transcription'
                                placeholder='Enter transcription'
                                name='transcription'
                            >{{oldInput.transcription}}</textarea>
                            {{#if (isVideo course.type)}}
                                <label for='videoid'>Video Id</label>
                                <input
                                    type='text'
                                    class='form-control col-12 form-add-course'
                                    id='videoid'
                                    placeholder='Enter videoid'
                                    name='contentId'
                                    value='{{oldInput.contentId}}'
                                />
                            {{else}}
                                <label for='audioid'>Audio Id</label>
                                <input
                                    type='text'
                                    class='form-control col-12 form-add-course'
                                    id='audioid'
                                    placeholder='Enter audioid'
                                    name='contentId'
                                    value='{{oldInput.contentId}}'
                                />
                            {{/if}}
                            <label for='image'>Image</label>
                            <input
                                type='file'
                                class='form-control col-12 form-add-course'
                                id='image'
                                name='image'
                                style='border: 1px solid black;'
                            />
                        </div>

                        {{#if errorMessage}}
                            <div
                                class='alert alert-danger'
                                style=' text-align:center;color:red; background-color: aqua; '
                                role='alert'
                            >
                                {{errorMessage}}
                            </div>
                        {{/if}}

                        <button type='submit' class='btn btn-primary'>Add lesson</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>