
    <div class='container'>
        <div class='mt-4'>
            <h2>Danh sách tiết học</h2>
            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>ID</th>
                        <th scope='col'>Name</th>
                        <th scope='col'>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr>
                            <th scope='row'>{{sum @index 1}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.createdAt}}</td>
                            <td>
                                <a
                                    href='/me/stored/questions/{{this._id}}'
                                    class='btn btn-secondary btn-lg active'
                                    aria-pressed='true'
                                >Show question</a>
                            </td>
                            <td>
                                <a
                                    href='/lessons/{{this._id}}/edit'
                                    class='btn btn-secondary btn-lg active'
                                    aria-pressed='true'
                                >Sửa</a>
                            </td>
                            <td>

                                <a
                                    href='#'
                                    class='btn btn-secondary btn-lg active'
                                    aria-pressed='true'
                                    data-toggle='modal'
                                    data-target='#exampleModal'
                                    data-id='{{this._id}}'
                                >Xóa</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href='/lessons/create/{{course_id}}' class='btn btn-primary btn-lg'>Add lesson</a>

        </div>
    </div>
</div>
<div class='modal' id='exampleModal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xóa khóa học?</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn có muốn xóa khóa học này?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-lesson' type='button' class='btn btn-danger'>Xóa bỏ</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    </div>

=======
</div>
>>>>>>> 4199fdb04bb85cdaf8d6dfc3295c3d44003e7902

<form method='post' name='delete-form'></form>
<script>
    document.addEventListener('DOMContentLoaded',function(){ var lessonId; var deleteForm =
    document.forms['delete-form']; $('#exampleModal').on('show.bs.modal', function (event) { var
    button = $(event.relatedTarget) ; lessonId = button.data('id') ;}) ; var btn=
    document.getElementById('btn-delete-lesson'); console.log(btn); btn.onclick= function(){
    deleteForm.action = '/lessons/'+ lessonId +'?_method=DELETE'; deleteForm.submit(); } });

</script>