<div class='container'>
    <div class='add-course'>
        <div class='left-sidebar col-2'>
            <ul>
                <li><a href='/courses/create'>Post Courses</a></li>
                <li class='sidebar-active'><a href='/me/stored/courses'>All Courses</a></li>
                <li><a href='/me/stored/grammars'>Grammar</a></li>
            </ul>
        </div>
        <div class='main-content col-10'>
            <div class=''>
                <div class='mt-4'>
                    <div class='mt-4'>
                        <h2>Lesson Lists</h2>
                        <table class='table styled-table'>
                            <thead>
                                <tr>
                                    <th scope='col'>ID</th>
                                    <th scope='col'>Name</th>
                                    <th scope='col'>Created At</th>
                                    <th scope='col'>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each items}}
                                    <tr>
                                        <th scope='row'>{{sum @index 1}}</th>
                                        <td>{{this.name}}</td>
                                        <td>{{this.createdAt}}</td>
                                        <td>
                                            <a
                                                href='/me/stored/questions/{{this._id}}'
                                                class='btn btn-secondary btn-lg active'
                                                aria-pressed='true'
                                            ><i class='bx bx-show'></i></a>
                                            <a
                                                href='/lessons/{{this._id}}/edit'
                                                class='btn btn-secondary btn-lg active'
                                                aria-pressed='true'
                                            ><i
                                                    class='bx bx-edit'
                                                    style='margin-left:10px; color:#0C90D6;'
                                                ></i></a>

                                             
                                                <form method='post' name='delete-form' action='/lessons/{{this._id}}?_method=DELETE'>
                                                 <button type='submit'  class='btn btn-secondary btn-lg active' ><i class='bx bx-x-circle' style="margin-left:10px; color: red;"  ></i></button>
                                                 </form>
                                                </td>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <a
                            href='/lessons/create/{{course_id}}'
                            class='btn btn-primary btn-lg'
                            style='width: 130px;display: block;display:flex;align-items: center;'
                        >Add lesson</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>